@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 41, 37, 36;
  --background-rgb: 249, 245, 241;
}

.dark {
  --foreground-rgb: 249, 245, 241;
  --background-rgb: 41, 37, 36;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-all duration-200 font-medium;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark;
  }
  
  .btn-secondary {
    @apply bg-accent-light dark:bg-accent-dark text-background-dark dark:text-background-light hover:opacity-90;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
